/* :host {
    display: block;
    white-space: nowrap;
} */
   
:host .progressbarcontainer {
    width: 200px;
}

/* :host .filename {
    display: inline-block;

} */

.allChildrenInOneLine {
    display: block;
    white-space: nowrap;
  }
  
  .childOfOneLine {
    display: inline-block;
  }