/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.allChildrenInOneLine {
    display: block;
    white-space: nowrap;
}

.childOfOneLine {
    display: inline-block;
}